<%- include('_header') -%>
<main>
  <p>
    Frumgerð á lýðvirkjunarviðmóti til að merkja venslaheimtargögn í
    <a href="https://repository.clarin.is/repository/xmlui/handle/20.500.12537/168">MÍM-GOLD-EL</a>.
    Unnið sem lokaverkefni í „Inngangur að máltækni“ árið 2022.
  </p>
  <p><a href="https://github.com/osk/maltaekni-lokaverkefni/">Verkefnið á GitHub</a>.</p>
</main>

<%- include('_footer') -%>
