<%- include('_header') -%>

<main>
  <ul>
    <li><a href="/v1">Útgáfa 1 af flokkunarviðmóti</a></li>
    <li><a href="/v2">Útgáfa 2 af flokkunarviðmóti</a></li>
  </ul>
</main>

<%- include('_footer') -%>
